{% extends 'template.html.twig' %}


{% block title %}Student form{% endblock %}


{% block body %}
    {{ form(form) }}
    {# <div class="row">
    <div class="col">{{ form_row('firstname') }}</div>
    <div class="col">{{ form_row('name') }}</div>
    </div> #}
    
    
{% endblock %}

