{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Questions</h1>

    <ul>
        {% for question in questions %}
            <li>
                {{ question.enonce_question }}
                {% if question.type == 'choix_multiple' %}
                    <ul>
                        {% for choice in question.choices %}
                            <li>{{ choice.text }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <a href="{{ path('question_edit', { 'id': question.id, 'classId': classe.id, 'evaluationId': evaluation.id }) }}" class="btn btn-warning btn-sm" title="Modifier la question">
                        <i class="fas fa-edit"></i>
                    </a>                
                    <a href="{{ path('question_delete', { id: question.id, classId: classId, evaluationId: evaluationId }) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}