
{% extends 'template.html.twig' %} 

{% block title %}Détails du cours{% endblock %}

{% block body %}

    <h1>{{ question.ennonce }}</h1>

    

    {# <a href="{{ path('classes_list') }}" class="btn btn-secondary">Retour à la liste des classes</a> #}

{% endblock %}