{# templates/classes/show.html.twig #}

{% extends 'template.html.twig' %}

{% block title %}Détails de la classe{% endblock %}

{% block body %}

    <h1>{{ classe.name }}</h1>

    <p>
        Niveau: {{ classe.level }}<br>
        {% if classe.level != "Maternelle" %}
            Section: {{ classe.section }}<br>
        {% endif %}
    </p>

    <a href="{{ path('classes_list') }}" class="btn btn-secondary">Retour à la liste des classes</a>

{% endblock %}