{# templates/classes/show.html.twig #}

{% extends 'template.html.twig' %} 

{% block title %}Détails du cours{% endblock %}

{% block body %}

    <h1>{{ cours.title }}</h1>

    <p>
        Classe: {{ cours.classe }}<br>
        
    </p>

    <a href="{{ path('cours_list') }}" class="btn btn-secondary">Retour à la liste des cours</a>

{% endblock %}